
<!------ Include the above in your HEAD tag ---------->
    <div class="row page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">Bet Project</a>
                   
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="~/Img/yo.jpg"
                             alt="User picture">
                    </div>
                    <div class="user-info">
                        <span class="user-name">
                            Cristian
                            <strong>Piedrahita</strong>
                        </span>
                        <span class="user-role">Administrador</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>En Linea</span>
                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->               
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span onclick="CreateUser()">Crear Usuario 
                                </span>
                                
                            </a>                            
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span onclick="RechargeUser()" >Recargar a Usuario</span>                                
                            </a>                            
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="far fa-gem"></i>
                                <span>Fixture</span>
                            </a>
                          
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="fa fa-chart-line"></i>
                                <span>Realizar Apuesta</span>
                            </a>                            
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="fa fa-globe"></i>
                                <span>Resultados</span>
                            </a>                            
                        </li>
                        <li class="header-menu">
                            <span>Extra</span>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span>Documentación</span>                               
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span>Calendario</span>
                            </a>
                        </li>                 
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            <div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-warning notification">3</span>
                </a>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-pill badge-success notification">7</span>
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="#">
                    <i onclick="CloseSesion()" class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
           <img id="img_menuMundial" src="~/Img/Mundial.jpg" />

        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->
    

